<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/singin.css">
    <script type="text/javascript" src="/javascripts/singin.js"></script>
    <title>Document</title>
</head>
<body>
    <script>
        
    </script>
    <div id="sinin">
        <h1 id="h">Register</h1>
        <input type="text" name="username" placeholder="Username" value="<%= data.username %>"><br>
        <input type="email" name="email" placeholder="mail" value="<%= data.email%>"><br>
        <input type="password" name="password" value="<%= data.password %>"><br>
        <input type="password" name="confirm" value="<%= data.confirm %>"><br>
        <input type="date" name="date" value="<%= data.date %>"><br>
        <select id="select" onchange="countryList(this.value)">
            <option value="<%= data.list %>">Select Country</option>
            <% if(data.length){for(var i = 0; i < data.length; i++) {%> 
            <option value="<%= data[i].text%>"> <%= data[i].text%>
            </option>
            <% } } %>
        </select><br>
        <input type="button" value="Submit" onclick="location='#'">
        <input type="button" value="Calcel" onclick="location='/login'">

    </div>
</body>
</html>